body{
    background-image: url("image/img10.jpg") ;
}
.bloque{
    margin: 40px ;
   
    padding: 5px ;
    
    animation: animaka 10s  ;
   
}

.entete div{
    display: inline-block ;
    position: relative;
    vertical-align: top ;
    
}
img{
    
    width: 150px ;
    height: 150px ;
    border-radius: 80px ;
   
}
.ptitre{
    text-transform: uppercase ;
    font-size: 25px ;
}
.entete{
    
    border: 2px solid white ;
    padding: 10px ;
    background-color: aliceblue ;
    opacity: 0.8;
   
}
.profil{
    margin-left: 10px  ;
  
}
.image{
        margin-left: 200px ;
}
.contact{
    margin-left:100px ;
}
.nom{
     
    position: relative;
    top:10px ;
    border:2px solid white;
    background-color: aliceblue ;
    opacity: 0.8;
    
    
    
}
.nom p {
    text-align: center ;
    font-size: 30px ;
}
.experience{
    display: inline-block ;
   
    padding: 10px ;
    position: relative ;
    top: 20px ;
    width: 700px;
    border:2px solid white;
    background-color: aliceblue ;
    opacity: 0.8;
}
.formation{
    display: inline-block ;
   
    padding: 10px ;
    position: relative;
    top:20px ;
    width: 490px;
    vertical-align: top ;
    border:2px solid white;
    background-color: aliceblue ;
    opacity: 0.8;
}
.competence{ 
   
    position: relative ;
    top:30px ;
    width: 720px ;
   display: inline-block;
   margin-bottom: 20px ;
   border:2px solid white;
   background-color: aliceblue ;
    opacity: 0.8;
}
.langue{

    position: absolute;
    top:630px ;
    left: 780px;
    width:510px ;
    border:2px solid white;
    background-color: aliceblue ;
    opacity: 0.8;
}
.personnalite{
    display: inline-block;
    width:510px ;
    position: relative;
    top:10px ;
    border:2px solid white;
    background-color: aliceblue ;
    opacity: 0.8;
    height: 150px ;
    vertical-align: bottom ;
}

.maternelle{
    width: 50px ;
    height: 10px ;
    border: 1px solid black ;
    display: inline-block ;
}

@keyframes animaka{
    0%{
        
        opacity: 0;

    }
    
    100%{
       
        opacity: 0.8;
    }
}


 
  




